@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');


h1{
    text-align: center;
    color: white;
}
.header{
    background-image: url(fondo2.jpg);
    height: 50px;
    
}

footer {
    
        background-image: url(imagen.jpg);
        position: relative;
        display: inline-block;
        bottom: 0;
        width: 100%;
        height: 40px;
        color: white;
        

}

.imagen{
    width: 500px;
    height: 300px;
    margin: 20px;
    border: 4px solid black;

}

.contenedor{
    display: flex;
}

h2{
    text-decoration: underline;
    text-align: center;
}

.texto{
    
    border: 2px dotted black;
    margin: 20px;
    margin-left: 0px;
    font-family: 'Alegreya', serif;

}

body{
    position: relative;
    background-color: rgb(236, 229, 187);
    font-family: 'Alegreya', serif;
}

.video{
    

    height: 250px;
    height: 240px;
    margin-left: 20px;
    margin-top: 20px;
    margin: 20px;
    

}

.Encuesta{
    text-align: center;
    position: absolute;
    top: 470px;
    left: 960px;
    border: 1px solid ;
    border-radius: 40px;
    
    
}

ul{
    list-style: none;
}

li{
    list-style: none;
}

.siguiente{
    text-align: center;
}

.b1{
    
    margin: 20px;
    transition: all .3s;
    background: linear-gradient(180deg, #90fc02 0%, #41f115 100%);


}

.b1{
    transition: all .3s;
    background: linear-gradient(180deg, #fbde74 0%, #ff9900 100%);

}

.contenedorimagen{
    display: flex;
}

.imagenSantaponsa{
    width: 430px;
    padding: 20px;
}

