h1{
    text-align: center;
    color: white;
}
header{
    background-image: url(fondo2.jpg);
    height: 50px;
    
}

footer {
    background-image: url(fondo2.jpg);
    position: absolute;
    display: inline-block;
    bottom: 0;
    width: 100%;
    height: 30px;
    color: rgb(255, 248, 248);

}

